body {
  margin: 0;
  line-height: inherit;
}

/* Rellenos */
.pr-4 {
  padding-right: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Margenes */
.mb-6 {
  margin-bottom: 1.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

/* Bordes */
.border {
  border-width: 1px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border-0 {
  border-width: 0;
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* Alineación */
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Visualización */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/* Color de fondo */
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
}

/* Ancho */
.w-full {
  width: 100%;
}

.w-5 {
  width: 1.25rem;
}

/* Alto */
.h-5 {
  height: 1.25rem;
}

/* Componentes */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}

/* Textos */
.text-body {
  --tw-text-opacity: 1;
  color: rgb(13 23 42);
}

.font-body {
  font-family: Basier circle, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.text-brand-blue {
  --tw-text-opacity: 1;
  color: rgb(55 88 249);
}

/* Misceláneos */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#search-bs-class-5-container::after {
  content: "⌕";
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(55 88 249);
}

#search-bs-class-6-container::before {
  content: "⌕";
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(55 88 249);
}
